<div class="card m-2 mt-5">
    <header class="card-header">
      <p class="card-header-title">
        <%= article.title %>
      </p>
    </header>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="subtitle is-6">Rédigé par <a>@<%= article.author.username %></a></p>
        </div>
      </div>
  
      <div class="content">
        <strong><%= article.description %></strong>
        <br><br>
        Le <time><%= new Date(article.date).toLocaleDateString() %></time>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" href="/articles/<%= article.id %>">En savoir plus</a>
    </footer>
</div>